*{
    padding:0;
    margin:0;
    box-sizing:border-box
    font-family:'rubik', sans serif;
}

h1{

         color:#bdba09;
         margin-left:130px;
         margin-top:50px;
         font-size:80px;
}
h2{ 
    color:#b1b4af;
    position :relative;
    margin-left: 150px;
    margin-top: 150px;
    font-size:40px;}

    ul{
        position:relative;
        margin-left:100px;
        margin-top:200px;
        Font-size:30px;
    }
    .legal{ color:blue;
        font-weight:bold;
        font-size:40px;
        padding:10px
    }

    p{
        margin-left:100px;
    }
    img{ position relative;
         margin-top:-1359px;
         margin-left:1352px;
         margin-bottom:300px;
}

.frente{position:relative;
        margin-left:800px;
        font-size:30px;
        margin-bottom: 700px;}

button{ position:relative;
margin-bottom:30px;
font-size:23px;
padding:10px;
background:#f3ef09;
border:none;
border-radius: 30px;}

